@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<p>
    Esta aplicação foi desenvolvida / esta sendo mantida para aprendizado. O foco aqui é testar, colocar em prática tecnologias e
    novas soluções. Dicas e sugestões são muito bem vindas, aliás, são essenciais. Então compartilhe e não tenha medo de perguntar, questionar,
    reclamar, sugerir... Todas as mensagens serão bem vindas e respondidas. 
</p>
